body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

/* Estilos do cabeçalho */
.header {
    background-color: #007bff; /* Azul */
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

/* Container principal */
.dashboard-container {
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 20px;
    padding: 20px;
}

/* Lado esquerdo: Cards */
.cards-container {
    width: 98%;
    margin-top: 49px;
    display: flex;
    gap: 20px;
    flex-basis: fit-content;
}


.card {
    width: 48%;
    height: 143px;
    background: linear-gradient(135deg, #ffffff, #ff7f50); /* Branco para laranja */
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card2 {
    width: 48%;
    height: 143px;
    background: linear-gradient(135deg, #ffffff, #28a745); /* Branco para verde */
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card3 {
    width: 48%;
    height: 143px;
    background: linear-gradient(135deg, #fffacd, #ffdd00); /* Branco suave para amarelo */
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card4 {
    width: 48%;
    height: 143px;
    background: linear-gradient(135deg, #ff4d4d, #b30000);
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card h3,
.card2 h3,
.card3 h3,
.card4 h3 {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    color: #333;
}


.card p,
 .card2 p, 
 .card3 p,
  .card4 p {
    font-size: 1.5rem;
    color: #333;
}


/* Lado direito: Tabela */
.table-container {
    width: 50%;
    max-height: 70%; /* Limita a altura máxima a 20% */
    overflow-y: auto; /* Permite rolagem vertical quando necessário */
    padding: 10px; /* Adiciona espaço interno */
    box-sizing: border-box; /* Inclui o padding dentro da largura/altura */
}

.table-container h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #007bff;
    color: white;
}

thead th {
    padding: 10px;
    text-align: left;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody td {
    padding: 10px;
    text-align: left;
}

tbody tr:hover {
    background-color: #f9f9f9;
}
.status-ativo {
background-color: green;
color: white;
padding: 2px 8px;  /* Ajuste o padding para que o fundo seja proporcional ao texto */
border-radius: 5px;
text-align: center;
}

.status-inativo {
background-color: red;
color: white;
padding: 2px 8px;  /* Ajuste o padding */
border-radius: 5px;
text-align: center;
}

.status-em-baixa {
background-color: yellow;
color: black;
padding: 2px 8px;  /* Ajuste o padding */
border-radius: 5px;
text-align: center;
}