/* Animação do ícone de sino */
.fa-bell {
    transition: transform 0.3s ease; /* Suaviza a animação */
}

.nav-item:hover .fa-bell {
    transform: scale(1.3); /* Aumenta o ícone quando o mouse passa por cima */
}

/* Estilo para o contador de notificações */
.badge {
    background-color: #f00;
    color: #fff;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    top: 1px;
    right: 0px;
    transition: background-color 0.3s ease;
    
}

.badge.unread {
    background-color: red; /* Deixa o contador vermelho quando há notificações não lidas */
}

