/* Barra lateral de navegação */
.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 5px;
}

/* Container principal - "Caderno" */
.caderno {
  display: flex; /* Flexbox para alinhamento do menu e conteúdo */
  margin-left: 300px; /* Deixa espaço para o menu lateral */
  padding: 20px;
  width: 100%;
  flex-direction: column;
}

/* Container para as Tabs e o Conteúdo */
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Abas de navegação */
.tabs {
  display: flex;
  justify-content: space-around;
  background-color: #2c3e50;
  padding: 10px 0;
  margin-bottom: 20px;
  width: 100%; /* A largura das tabs agora acompanha o container */
  box-sizing: border-box; /* Isso garante que o tamanho do container seja respeitado */
  border-radius: 5px;
}

/* Cada tab individual */
.tab {
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  flex-grow: 1;
  text-transform: uppercase;
  font-weight: bold;
}

.tab:hover {
  background-color: #34495e;
}

.tab.active {
  background-color: #2980b9;
}

/* Conteúdo das abas */
.tab-content {
  display: none;
  padding: 20px;
  background-color: white;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%; /* Ajusta o conteúdo para acompanhar a largura do container */
}

/* Classe que faz com que a aba se torne visível */
.form-container.active {
  display: block;
}

.form-group3 label {
  width: 100%;
  font-weight: bold;
}

.form-group3 input,
.form-group3 select {
  width: 80%; /* Garantindo que os inputs não ultrapassem o limite do container */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box; /* Para garantir que o padding não afete o tamanho final do input */
  margin-bottom: 12px;
}

.form-group3 button {
  width: 20%; /* Para os botões, garantindo que não fiquem muito largos */
  padding: 12px;
  border: none;
  background-color: #2d3e50;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button-estoque {
  width: 20%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.button-estoque button {
  width: 50%; /* Para os botões, garantindo que não fiquem muito largos */
  padding: 12px;
  border: none;
  background-color: #2d3e50;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.form-group3 button:hover {
  background-color: #2d3e50;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 20px;
  }

  .container {
    margin-left: 0;
  }

  .tabs {
    flex-direction: column;
  }

  .tab {
    padding: 12px;
  }

  .form-group3 {
    flex-direction: column;
  }

  .form-group3 label,
  .form-group3 input,
  .form-group3 select {
    width: 100%;
  }
}
