  /* Estilo do painel */
  .painelestoque { padding: 20px; font-family: Arial, sans-serif;    margin-bottom: 111px; display: contents; gap: 25px; }
  .cardss { display: flex; gap: 20px; margin-bottom: 20px; }
  .card { 
      flex: 1;
padding: 20px;
background: #f9f9f9;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
text-align: center;
display: flex;
margin-bottom:8.01%;
;
flex-direction: row;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
align-items: center;
  }
  .card2 { flex: 1; padding: 20px; background: #dc3737; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); text-align: center; }
  .grafico-container { max-width: 800px; margin: 0 auto;  height: 300px; width: 600px;}
  #totalProdutos {
      margin-top: 0;
font-size: 23px;
margin-bottom: 2rem;
  } 
  .modal {
/* background: #fff; */
padding: 20px;
border-radius: 8px;
/* width: 400px; */
/* margin-left: 30%; */
/* max-width: 90%; */
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}
.card-estoque-produtos {
display: flex;
gap: 20px;
}